<head xmlns:th="http://www.thymeleaf.org" th:fragment="head_fragment(title, scripts, links)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title th:text="${title}"></title>
  <link rel="shortcut icon" th:href="@{/images/logo.png}">
  <!-- 全画面共通のcssを定義します -->
  
  <!-- 各画面専用のcssを定義します -->
  <th:block th:replace="${links}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.3.1/css/uikit.min.css" integrity="sha256-FIboc2EoNdI/QieXBLURbYkUxPX/3bTuWY+47MvExa0=" crossorigin="anonymous" />
  <!-- 全画面共通のjavascriptを定義します -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
  <!-- 各画面専用のjavascriptを定義します -->
  <th:block th:replace="${scripts}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.3.1/js/uikit.min.js" integrity="sha256-BFNbmKG9T7WEBxVHWyG/qzPPzZf8autYd2b0Eytgv7A=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.3.1/js/uikit-icons.min.js" integrity="sha256-pXt2XY/xp6QmXUIQYxlCfOTWCV8UBJmpJtHn1NheTHU=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
  
</head>