
    @media screen and (min-width: 788px){
        .hcTXxz {
            -webkit-flex-direction: initial !important;
            -ms-flex-direction: initial !important;
            flex-direction: initial !important;
        }
    }
    .dzDwoe {width: 100% !important;}

    .api-info {
        display: none;
    }